@import "tailwindcss";

@font-face{
  font-family: anzo4;
  src: url('./assets/file1.woff2')
}

@font-face{
  font-family: anzo1;
  src: url('./assets/file2.woff2')
}

@font-face{
  font-family: anzo2;
  src: url('./assets/file3.woff2')
}

* {
  box-sizing: border-box;
}

html,
body{
  color: #fff;
  overflow-x: hidden;
}

#page-in{
  position: relative;
  perspective: 100px;
}

#section2 {
  position: relative;
  perspective: 3000px;
}

#tiltDiv {
  width: fit-content;
}